<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>632690901665-osh4ltik0uvtaeej3lt3s6lc5oq86qh5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.632690901665-osh4ltik0uvtaeej3lt3s6lc5oq86qh5</string>
	<key>API_KEY</key>
	<string>AIzaSyBBgnRz9cdVRGRCgHT3a8m61JLwFnKqUUU</string>
	<key>GCM_SENDER_ID</key>
	<string>632690901665</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.redditClone</string>
	<key>PROJECT_ID</key>
	<string>reddit-clone-21f38</string>
	<key>STORAGE_BUCKET</key>
	<string>reddit-clone-21f38.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:632690901665:ios:d080ed7ae738f5adc1a6e0</string>
</dict>
</plist>